@media screen and (max-width: 780px) {
  .none_m {
    display: none;
  }
  .btn {
    display: none;
  }
}
@media screen and (min-width: 780px) {
  .none_d {
    display: none;
  }
}
@media screen and (max-width: 780px) {
  .sec2 {
    display: none;
  }
}
@media screen and (max-width: 780px) {
  .sec4 {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 780px) {
  .btn1{
    flex-direction: column;
    width: fit-content;
  }
}
@media screen and (max-width: 780px) {
  .store{
    flex-direction: column;
   
    
  }
}
