@import "./modules/color";
@import "./modules/font";
@import "./modules/mixin";
@import "./modules/mobile";
@import "./modules/reset";
@import "./modules/variable";

.header1 {
    padding-top: 10px;
    padding-bottom: -5px;
   display: flex;
   justify-content: space-between;
    background-color: $bg1;
    @include VW;
    .hd1 {
        display: flex;
        font-family: $ff;
        gap: $smallspace;
        
    }
    .hd2 {
        display: flex;
        gap: $smallspace;
        font-family: $ff;
    }
}
.header2 {
    @extend .header1;
    background-color: $bg2;
    align-items: center;


    a{
        color: $bg5;
        // align-items: center;
    }
    
    .btn{
        align-items: center;
        background: $bg3;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
    }
}