@media screen and (max-width: 780px) {
  .none_m {
    display: none;
  }
  .btn {
    display: none;
  }
}

@media screen and (min-width: 780px) {
  .none_d {
    display: none;
  }
}

@media screen and (max-width: 780px) {
  .sec2 {
    display: none;
  }
}

@media screen and (max-width: 780px) {
  .sec4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (max-width: 780px) {
  .btn1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

@media screen and (min-width: 500px) {
  h1 {
    font-size: 25px;
  }
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 30px;
  }
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: 54px;
  }
}

p {
  width: 69vw;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

@media screen and (min-width: 500px) {
  p {
    font-size: 16px;
  }
}

@media screen and (min-width: 900px) {
  p {
    font-size: 18px;
    width: 54vw;
  }
}

a {
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  font-size: small;
}

h1 h2 h3 h4 h5 h5 p {
  font-family: "Poppins", sans-serif;
}

.header1, .header2 {
  padding-top: 10px;
  padding-bottom: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(64, 85, 88, 0.6);
  padding-left: 4vw;
  padding-right: 4vw;
}

.header1 .hd1, .header2 .hd1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Poppins", sans-serif;
  gap: 10px;
}

.header1 .hd2, .header2 .hd2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  font-family: "Poppins", sans-serif;
}

.header2 {
  background-color: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header2 a {
  color: #12082D;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header2 .btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(239, 155, 17, 0.5)), to(#40555880));
  background: linear-gradient(180deg, rgba(239, 155, 17, 0.5) 0%, #40555880 100%);
  cursor: pointer;
  border-radius: 5px;
  width: 10vw;
  text-align: center;
}

.header2 .btn .btn:hover {
  color: #fff;
  background-color: #fff;
}

.header2 .hd3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #12082D;
  gap: 10px;
  font-family: "Poppins", sans-serif;
}

article {
  background-image: url(/styles/img/manLaptop.svg);
  height: 60vw;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 1em;
}

@media screen and (min-width: 500px) {
  article div {
    height: 375px;
    padding-top: 15vh;
  }
}

.services {
  width: 100%;
  background-image: url(/styles/img/bg2.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.services .sec11 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.services .sec2 {
  width: 15vw;
  height: 20vh;
  -webkit-box-shadow: 0px 6px 6px #000102;
          box-shadow: 0px 6px 6px #000102;
  padding-left: 2vw;
  padding-top: 4vh;
}

.services .sec111 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  padding-top: 10vh;
}

.services h4 {
  padding-left: 20px font-family "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 15px;
}

.services h2 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  padding-left: 20px;
}

.services .sec3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 10px;
}

.services .sec31 {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.services .rec {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 3vh;
}

.sec4 {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(239, 155, 17, 0.5)), to(#40555880));
  background-image: linear-gradient(180deg, rgba(239, 155, 17, 0.5) 0%, #40555880 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 20px;
}

.sec4 span {
  padding-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3vw;
  font-style: normal;
  font-weight: 500;
}

.sec4 span h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 10px;
}

.sec4 span h4 {
  font-style: normal;
  font-weight: bolder;
  font-size: 15px;
}

.sec4 .btn1 {
  padding-bottom: 5vh;
  font-size: 20px;
}

.sec4 .btn1 > button {
  background: -webkit-gradient(linear, left top, left bottom, from(#ef9b11), to(#405558));
  background: linear-gradient(180deg, #ef9b11 0%, #405558 100%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: #fff;
  height: 5vh;
  font-family: "Poppins", sans-serif;
}

.sec4 .btn1 :nth-child(2) {
  border: 2px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  color: #fff;
  background: transparent;
  font-family: "Poppins", sans-serif;
}

.download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(/styles/img/bg3.svg);
  background-size: cover;
  background-position: top center;
  width: 100%;
}

.download .andriod {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.download .andriod h6 {
  color: #eab221;
  font-family: "Poppins", sans-serif;
  font-size: small;
}

.download .andriod h2 {
  font-family: "Poppins", sans-serif;
  font-size: small;
}
/*# sourceMappingURL=style.css.map */